@import url(./style.css);
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica.ttf);
}

/* <---------------------------------------------------- universal Selector --------------------------------------------------------> */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* <----------------------------------------------------------- root ----------------------------------------------------------------> */

:root {
    /* colors */
    --color-white: #FFFFFF;
    --black-color: #000000;
    --text_lg: linear-gradient(90deg, #017EFF 0%, #97C4FF 100%);
    --light_white_color: #D9D9D9;
    --btn_text_color: #FEFEFE;
    --border-color: #3D3D3D;
    --sec-back-color: #161616;
    --prop_sec_back: #212121;


    /* font-family */
    --fm-poppins: "Poppins", sans-serif;
    --fm-sans-racing: "Racing Sans One", sans-serif;
    --fm-imbue: "Imbue", serif;
    --fm-plus-sans: "Plus Jakarta Sans", sans-serif;
    --fm-rubik: "Rubik", sans-serif;
    --fm-gara: "EB Garamond", serif;
    --fm: 'Helvetica';
    --fm-inter: "Inter", sans-serif;

    /* style */

    --font-style: italic;

    /* letter spacing */

    --ls-main-heading: 0.2em;
    --ls-hero-text: -1.27px;

    /* font weight */
    --fw-400: 400;
    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-800: 800;
    --fw-700: 700;
    --fw-900: 900;

    /* font-size */
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-23: 23px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-43: 43px;
    --fs-45: 45px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-52: 52px;
    --fs-54: 54px;
    --fs-55: 55px;
    --fs-59: 59px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-65: 65px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-80: 80px;
    --fs-100: 100px;
    --fs-157: 157px;


    /* lh */
    --lh-16: 16px;
    --lh-18: 18px;
    --lh-19: 19px;
    --lh-24: 24px;
    --lh-20: 20px;
    --lh-21: 21px;
    --lh-23: 23px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-32: 32px;
    --lh-35: 35px;
    --lh-36: 36px;
    --lh-38: 38px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-46: 46px;
    --lh-49: 49px;
    --lh-54: 54px;
    --lh-64: 64px;
    --lh-56: 56px;
    --lh-60: 60px;
    --lh-62: 62px;
    --lh-68: 68px;
    --lh-71: 71px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-79: 79px;
    --lh-80: 80px;
    --lh-79: 79px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-96: 96px;
    --lh-100: 100px;
    --lh-188: 188px;

}

/* <----------------------------------------------------------- different containers ----------------------------------------------------------------> */

.container_hero {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container_diff_hero {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* <----------------------------------------------------------- spacified root value ----------------------------------------------------------------> */

.fm_sans_racing {
    font-family: var(--fm-sans-racing);
}

.fm_imbue {
    font-family: var(--fm-imbue);
}

.fm-sans {
    font-family: var(--fm-plus-sans);
}

.primary_color {
    background: var(--primary-color);
}

.fm-gara {
    font-family: var(--fm-gara);
}

.fm {
    font-family: var(--fm);
}

.fm_int {
    font-family: var(--fm-inter);
}

.btn_back_clr {
    background: var(--primary-color);
}

.font-style {
    font-style: var(--font-style);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-300 {
    font-weight: var(--fw-300);
}

.fw-800 {
    font-weight: var(--fw-800);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.fw-900 {
    font-weight: var(--fw-900);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-23 {
    font-size: var(--fs-23);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-12 {
    font-size: var(--fs-12);
}

.light_white_clr {
    color: var(--text-col-clr);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-54 {
    font-size: var(--fs-54);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-45 {
    font-size: var(--fs-45);
}

.fs-54 {
    font-size: var(--fs-54);
}

.fs-70 {
    font-size: var(--fs-70);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-48 {
    font-size: var(--fs-48);
}

.lh-38 {
    line-height: var(--lh-38);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-52 {
    font-size: var(--fs-52);
}

.fs-100 {
    font-size: var(--fs-100);
}

.fs-157 {
    font-size: var(--fs-157);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-64 {
    line-height: var(--lh-64);
}

.fs-55 {
    line-height: var(--lh-55);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-71 {
    line-height: var(--lh-71);
}

.lh-80 {
    line-height: var(--lh-80);
}

.lh-60 {
    line-height: var(--lh-60);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-46 {
    line-height: var(--lh-46);
}

.lh-90 {
    line-height: var(--lh-90);
}

.lh-30 {
    line-height: var(--lh-30);
}

.ls_main {
    letter-spacing: var(--ls-main-heading);
}

.ls_127 {
    letter-spacing: var(--ls-hero-text);
}

.lh-26 {
    line-height: var(--lh-26);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-18 {
    line-height: var(--lh-18);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-68 {
    line-height: var(--lh-68);
}

.lh-35 {
    line-height: var(--lh-35);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-56 {
    line-height: var(--lh-56);
}

.lh-42 {
    line-height: var(--lh-42);
}

.lh-30 {
    line-height: var(--lh-30);
}

.text_black {
    color: var(--black-color);
}

.fs-65 {
    font-size: var(--fs-65);
}

.lh-79 {
    line-height: var(--lh-79);
}

.lh-32 {
    line-height: var(--lh-32);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-62 {
    line-height: var(--lh-62);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-36 {
    line-height: var(--lh-36);
}

.lh-96 {
    line-height: var(--lh-96);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-100 {
    line-height: var(--lh-100);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-16 {
    line-height: var(--lh-16);
}

a {
    list-style: none !important;
    text-decoration: none !important;
}

::-webkit-scrollbar {
    display: none;
}

.cursor {
    cursor: pointer;
}

.light_black_clr {
    color: var(--light-black-clr);
}

.back_color_body {
    background: #0D0D0D;
}

/* Media Queries */




@media (max-width: 992px) {
    .menuicon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 50px;
        height: 30px;
        position: relative;
        z-index: 5;
    }

    .menuicon span:nth-child(1) {
        background: var(--color-white);
        width: 70%;
        height: 4px;
        transition: all 300ms linear;
    }

    .menuicon span:nth-child(2) {
        background: var(--color-white);
        width: 100%;
        height: 4px;
        transition: all 300ms linear;
    }

    .menuicon span:nth-child(3) {
        background: var(--color-white);
        width: 70%;
        height: 4px;
        transition: all 300ms linear;
    }

    .menuicon:hover span:nth-child(1) {
        width: 100%;
    }

    .menuicon:hover span:nth-child(2) {
        width: 70%;
    }

    .menuicon:hover span:nth-child(3) {
        width: 100%;
    }

    .gap_30px {
        gap: 30px;
    }

    .max_lg_view {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: -100%;
        background: var(--text_lg);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 5;
        transition: all 300ms linear;
    }

    .show {
        left: 0;
    }

    .menuicon:hover span {
        background: var(--text_lg);
    }
}

@media (max-width: 1200px) {
    .nav_link {
        font-size: var(--fs-18);
    }

    .w_h_changes {
        width: 70.16px;
        height: 50.16px;
    }

    .back_color {
        padding: 12px;
    }

    .mt_intro_text_media {
        margin-top: 12px;
    }

    .py_media_col {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .p_media_row_intro {
        padding-left: 31px;
        padding-right: 22px;
        padding-top: 20px;
        padding-bottom: 29px;
    }

    .fs_media_work {
        font-size: var(--fs-24);
    }

    .fs_sub_text_work {
        font-size: var(--fs-16);
        line-height: var(--lh-26);
    }

    .fs_star_sec {
        font-size: var(--fs-40);
        line-height: var(--lh-54);
    }

    .wh_max_xl_100 {
        width: 166px;
        height: 166px;
    }

    .star_sec_prop {
        min-height: 266px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .svg_prop_box {
        width: 90px;
        height: 90px;
    }

    .fs_prop_sec_heading {
        font-size: var(--fs-24);
        line-height: var(--lh-27);
    }

    .fs_sub_text_prop {
        font-size: var(--fs-16);
        line-height: var(--lh-26);
    }

    .box_prop {
        min-height: auto;
    }

    .wh_changes_media {
        width: 106px;
        height: 100px;
    }

    .my_media_plan {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .img_box {
        min-height: auto;
    }

    .box_plan {
        min-height: 338px;
        padding: 24px 16px 36px 17px;
    }

    .fs_heading_ben {
        font-size: var(--fs-40);
        line-height: var(--lh-60)
    }

    .fs_sub_heading_ben {
        font-size: var(--fs-28);
        line-height: var(--lh-36);
    }

    .fs_heading_texture {
        font-size: var(--fs-40);
        line-height: var(--lh-60);
    }

    .fs_sub_heading_texture {
        font-size: var(--fs-28);
        line-height: var(--lh-36);
    }

    .w_h_texture_change {
        max-width: 260px;
        min-height: 234px;
    }

    .box_texture {
        padding: 30px 26px 30px 48px;
    }
}


/*-------------------------------------------------------------------- TABLET VIEW ------------------------------------------------------------------------------*/

@media (min-width: 1200px) {
    .image_cont {
        width: 475px;
        min-height: 475px;
        border-radius: 24px;
    }

    .p_media_row_intro {
        padding-left: 60px;
        padding-right: 24px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

@media (min-width: 992px) {
    .min-vh-lg {
        min-height: 100vh;
    }
}

@media (max-width: 991px) {
    .py_hero {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .media_changes_heading {
        font-size: var(--fs-55);
        line-height: var(--lh-64);
    }

    .sub_text_media {
        font-size: var(--fs-28);
        line-height: var(--lh-36);
    }

    .fs_lh_change {
        font-size: var(--fs-16);
        line-height: var(--lh-26);
    }

    .login {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .plan_button {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .py_text_media {
        padding-top: 16px;
        padding-bottom: 24px;
    }

    .mb_btn_hero {
        margin-bottom: 30px;
    }

    .max_w_intro_text {
        max-width: 507px;
        min-height: 104px;
    }

    .media_changes_heading_intro {
        font-size: var(--fs-40);
        line-height: var(--lh-45);
    }

    .fs_lh_change_intro {
        font-size: var(--fs-16);
        line-height: var(--lh-26);
    }

    .work_text_media {
        font-size: var(--fs-40);
        line-height: var(--lh-64);
    }

    .pt_media_text {
        padding-top: 16px;
    }

    .gift_box {
        width: 128px !important;
        height: 128px !important;
    }

    .media_changes_heading_prop {
        font-size: var(--fs-45);
        line-height: var(--lh-55);
    }
}

/*---------------------------------------------------------------------- MOBILE VIEW -------------------------------------------------------------------------------*/
@media (min-width: 768.9px) {
    .d_min_none {
        display: none;
    }

    .d_min_md_none {
        display: none;
    }
}

@media (max-width: 768px) {
    .p_media_row_intro {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .d_max_md_none {
        display: none;
    }

    .box_work {
        max-width: 100%;
    }

    .fs_star_sec {
        font-size: var(--fs-30);
        line-height: var(--lh-30);
    }

    .mt_max_md {
        margin-top: 30px;
    }

    .pt_media_work_image {
        padding-top: 19px;
    }

    .fs_media_work {
        font-size: var(--fs-28);
    }

    .fs_sub_text_work {
        font-size: var(--fs-20);
        line-height: var(--lh-30);
    }

    .gift_box {
        width: 160px !important;
        height: 160px !important;
    }

    .d_max_none {
        display: none;
    }

    .wh_max_xl_100 {
        width: 207px;
        height: 207px;
    }

    .box_prop {
        max-width: 100%;
    }

    .media_changes_heading_prop {
        font-size: var(--fs-30);
        line-height: var(--lh-35);
    }

    .star_sec_prop {
        padding-left: 30px;
        padding-right: 30px;
    }

    .box_plan {
        max-width: 100%;
        min-height: auto;
    }

    .img_box {
        max-width: 100%;
    }

    .fs_heading_ben {
        font-size: var(--fs-30);
        line-height: var(--lh-36)
    }

    .fs_sub_heading_ben {
        font-size: var(--fs-20);
        line-height: var(--lh-27);
    }

    .fs_heading_texture {
        font-size: var(--fs-28);
        line-height: var(--lh-38);
    }

    .fs_sub_heading_texture {
        font-size: var(--fs-20);
        line-height: var(--lh-30);
    }
}

@media (max-width: 576px) {
    .display_changes_2 {
        display: none !important;
    }

    .py_hero {
        padding-top: 35px;
    }

    .media_changes_heading {
        font-size: var(--fs-32);
        line-height: var(--lh-36);
    }

    .sub_text_media {
        font-size: var(--fs-20);
        line-height: var(--lh-30);
    }

    .py_text_media {
        padding-top: 16px;
        padding-bottom: 20x;
    }

    .back_color {
        background: transparent;
        border: 1px solid transparent;
    }

    .mb_btn_hero {
        margin-bottom: 20px;
    }

    .menuicon {
        border: 1.1px solid #3D3D3D33;
        background: #FFFFFF0D;
        width: 53px;
        height: 53px;
        padding: 8.33px 9.33px 9.33px 8.33px;
        border-radius: 8.83px;
    }

    .media_changes_heading_intro {
        font-size: var(--fs-30);
        line-height: var(--lh-36);
    }

    .mt_intro_text_media {
        margin-top: 16px;
    }

    .mt_sm_30px {
        margin-top: 30px;
    }

    .work_text_media {
        font-size: var(--fs-30);
        line-height: var(--lh-36);
    }

    .third_line {
        top: -15px !important;
    }
}


@media (min-width: 576px) {
    .d_block {
        display: flex !important;
    }

    .display_changes_1 {
        display: none;
    }
}