/* <----------------------------------------------------------- Normal CSS ----------------------------------------------------------------> */

.lg_text {
    background: var(--text_lg) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.text_light_color {
    color: var(--light_white_color);
}

.intro_prop {
    background: var(--sec-back-color);
    border: 1px solid var(--border-color);
    border-radius: 24px;
}

.light_white_color {
    color: var(--light_white_color);
}

.text_heading_color {
    color: var(--btn_text_color);
}

/* <----------------------------------------------------------- Backimages or BackColor ----------------------------------------------------------------> */
.back_color {
    background: #161616;
    border: 1px solid var(--border-color);
    padding: 16px;
    border-radius: 16px;
}

.star_sec_prop {
    background: var(--text_lg);
    min-height: 460px;
    border-radius: 50px;
}

/* <----------------------------------------------------------- width and height ----------------------------------------------------------------> */

.w_h_changes {
    width: 98px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background: var(--sec-back-color);
}

.max_w_intro_text {
    max-width: 645px;
    min-height: auto;
}

.sub_text_max_w {
    max-width: 1050px;
}

.box_work {
    max-width: 420px;
    height: 100%;
    border: 1px solid var(--border-color);
    background: var(--sec-back-color);
    border-radius: 24px;
}

.gift_box {
    width: 200px;
    height: 200px;
}

.wh_max_xl_100 {
    width: 280px;
    height: 280px;
}

.max_w_prop_text {
    max-width: 1007px;
    min-height: auto;
}

.max_w_work_img {
    max-width: 420px;
}

.box_prop {
    max-width: 419px;
    min-height: 377px;
    padding: 40px 19px 40px 19px;
    border-radius: 24px;
    border: 1.12px solid var(--border-color);
    background: var(--sec-back-color);
}

.svg_prop_box {
    width: 116px;
    height: 116px;
    padding: 19px 16px 20px 16px;
    border-radius: 24px;
    background: var(--prop_sec_back);
}

.max_w_social_text {
    max-width: 700px;
    min-height: 108px;
}

.box_social_post {
    max-width: 420px;
    max-height: 124px;
    padding: 30px 20px 30px 20px;
    border-radius: 24px;
    border: 1.12px solid var(--border-color);
    background: var(--sec-back-color);
    margin-top: 30px;
}

.box_texture {
    max-width: 1306px;
    background: var(--sec-back-color);
    padding: 50px 48px 50px 48px;
    border-radius: 24px;
    border: 1.12px solid var(--border-color);
}

.box_plan {
    max-width: 419px;
    min-height: 530px;
    padding: 40px 28px 40px 28px;
    border-radius: 24px;
    border: 1.12px solid var(--border-color);
    background: var(--sec-back-color);
}

.img_box {
    max-width: 314px;
    min-height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wh_changes_media {
    width: 184px;
    height: 190px;
}

.box_review {
    max-width: 385px;
    min-height: 278px;
    padding: 30px 26px 30px 26px;
    border-radius: 20px;
    background: var(--sec-back-color);
    border: 1.12px solid var(--border-color)
}

.cont_review_prop {
    padding: 44px 43px 44px 43px;
    border-radius: 24px;
    border: 1.12px solid var(--border-color);
    background: var(--sec-back-color);
}

.max_w_footer_text {
    max-width: 1075px;
    min-height: auto;
}

/* <-----------------------------------------------------------spacings ----------------------------------------------------------------> */

/* normal spacing */
.pt_media_work {
    padding-top: 60px;
}

.my_media_prop_text {
    margin-bottom: 20px;
    margin-top: 40px;
}

.my_media_text_texture {
    margin-top: 20px;
    margin-bottom: 40px;
}

.my_footer_media {
    margin-top: 20px;
    margin-bottom: 40px;
}

.pt_media_work_image {
    padding-top: 28px;
}

.gap_media_post {
    gap: 30px;
}

.mt_media_col_media {
    margin-top: 30px;
}

.my_review_box_text {
    margin-top: 28px;
    margin-bottom: 10px;
}

.mt_media_col_prop {
    margin-top: 30px;
}

.mt_media_content {
    margin-top: 60px;
}

.pb_media_box {
    padding-bottom: 30px;
}

.pb_media_text_work {
    padding-bottom: 20px;
}

.mt_review_col {
    margin-top: 30px;
}

.gap_50px {
    gap: 50px;
}

.mt_media_box_work {
    margin-top: 30px;
}

.p_media_work {
    padding-left: 28px;
    padding-top: 40px;
    padding-right: 28px;
}

.py_text_media {
    padding-top: 30px;
    padding-bottom: 60px;
}

.pt_20px {
    padding-top: 20px;
}

.mb_btn_hero {
    margin-bottom: 40px;
}

.mt_intro_text_media {
    margin-top: 30px;
}

.py_media_col {
    padding-top: 62px;
    padding-bottom: 62px;
}

.mt_media_review {
    margin-top: 60px;
}

/* section spacing */

.py_hero {
    padding-top: 100px;
    padding-bottom: 139px;
}

.py_accordion {
    padding-top: 113px;
    padding-bottom: 144px;
}

.py_banner {
    padding-top: 140px;
    padding-bottom: 140px;
}

.py_stars {
    padding-top: 108px;
    padding-bottom: 140px;
}

.py_texture_sec {
    padding-top: 140px;
    padding-bottom: 105px;
}

.py_review {
    padding-top: 105px;
    padding-bottom: 148px;
}

.py_plan_sec {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* <-----------------------------------------------------------btn changes ----------------------------------------------------------------> */

.login {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    background: #3D3D3D;
    border: 1px solid transparent;
    border-radius: 16px;
    color: var(--btn_text_color);
    transition: all 300ms linear;
}

.plan_button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    background: #3D3D3D;
    border: 1px solid transparent;
    border-radius: 16px;
    color: var(--btn_text_color);
    transition: all 300ms linear;
}

/* <----------------------------------------------------------- positions ----------------------------------------------------------------> */

.nav_link {
    position: relative;
}

/* <-----------------------------------------------------------  Hover Effects ----------------------------------------------------------------> */


.btn_hover:hover {
    background: var(--text_lg);
}

.nav_link:hover {
    -webkit-text-stroke: thin;
}

.nav_link:hover::after {
    width: 100%;
    bottom: -3px;
}

/* <-----------------------------------------------------------  borders ----------------------------------------------------------------> */

/* <----------------------------------------------------------- Preloader ----------------------------------------------------------------> */

/* <----------------------------------------------------------- before and after ----------------------------------------------------------------> */

.nav_link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--text_lg);
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    animation: nav_bar 1s infinite;
    transition: all 300ms linear;
}

/* <----------------------------------------------------------- scroll to top ----------------------------------------------------------------> */

/* <----------------------------------------------------------- Keyframes ----------------------------------------------------------------> */
@keyframes nav_bar {
    to {
        background-position: 20vw;
    }
}

/* <----------------------------------------------------------- Progress ----------------------------------------------------------------> */
/* <----------------------------------------------------------- slider changes ----------------------------------------------------------------> */

.slick-slide {
    margin: 0 27px;
}


.slick-list {
    margin: 0 -27px;
}

.slider .slick-slide {
    margin: 0 10px;
}


.slider .slick-list {
    margin: 0 -10px;
}

/* <----------------------------------------------------------- z-indexes ----------------------------------------------------------------> */

/* <----------------------------------------------------------- Accordion ----------------------------------------------------------------> */

.brdr {
    border: 1px solid var(--border-color);
}

.accoridon_items {
    margin-top: 30px;
}

.disp_text {
    display: none;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
}

.click_btn {
    padding-top: 32px;
    padding-bottom: 32px !important;
    padding-left: 32px;
    padding-right: 32px;
}

.svg_icon {
    width: 50.66px;
    height: 50.66px;
    background: #606060;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accoridon_items {
    max-width: 1320px;
    min-height: auto;
    gap: 182px;
    border-radius: 24px;
    border: 1.12px 0px 0px 0px;
    opacity: 0px;
}

/* <----------------------------------------------------------- animated menuicon ----------------------------------------------------------------> */